
body {

  background-color: rgb(59, 77, 77);
  color:white;
}
/* darkslategrey */

p {
    font-family: 'Franklin Gothic Medium';
    font-size: 12px;
  }

  a:link, a:visited {
    /* background-color: #6c6bac; */
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  /* a:hover, a:active {
    background-color: red;
  } */
  
  table {
    width:80%;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  th {
    background-color: rgb(12, 2, 37);
    color: white;
  }
  